body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.container {
    display: flex;
    align-items: center;
    gap: 140px;
    padding-top: 30px;
    padding-left: 30px;
}

.main{
    padding-top: 30px;
    padding-left: 50px;
}


img {
    width: 180px;
    height: 150px;
}

h1 {
    color: white;
}

.listing {
    list-style: none;
    display: flex;
    gap: 15px;
    padding-left: 50px;
}

.listing li {
    display: inline;
    padding: 10px;
}

.listing a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.listing a:hover {
    color: rgb(0, 255, 13);
}

section {
    padding: 50px;
    margin: 50px 0;
    text-align: center;
    border-bottom: 1px solid white;
}

footer {
    background-color: #222;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.footer {
    font-size: 14px;
}


.socials{
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

.page-content{
    text-align: center;
}

#content {
    padding: 20px;
    text-align: center;
}

#content h1 {
    color: green;
    font-size: 28px;
}

#content h2 {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
